@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans serif;
}

a, a:hover {
	text-decoration: none;
}

.top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 25px;
	background: #f35600;
}

.top-bar span {
	color: #fff;
}

.top-bar ul {
	list-style: none;
	display: flex;
}

.top-bar li {
	margin: 0px 5px;
}

.top-bar a {
	color: #fff;
}

.top-bar a:hover {
	color: #ffffff;
}

nav {
	background: #fff;
	padding: 5px 20px;
	display: flex;
	align-items: center;
	border-bottom: 2px solid;
	border-color: #0a4182;
}

nav a {
	color: #222;
	font-weight: bold;
}

nav a:hover {
	color: #ef4b3f;
}

.logo {
	flex: 1;
}

.logo a {
	display: flex;
	align-items: center;
	font-size: 16px
}

.logo a:hover {
	color: #222;
}

.logo img {
	width: 60px;
	margin-right: 10px;
}

.menu {
	display: flex;
	align-items: center;
	list-style: none;
}

.menu li {
	padding: 15px 10px;
	font-size: 16px;
}

.toggle {
	font-size: 30px;
	display: none;
}

li a, .dropbtn {
	display: inline-block;
	color: black;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: #a1a1a1;
	transition: all 0.5s ease;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	font-size: 13px;
	display: none;
	position: absolute;
	background-color: #0a4182;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.search-box {
	background-color: #d6d6d6;
	height: 40px;
	padding: 7px 15px;
	border-radius: 50px;
}

.search-box input{
	border: none;
	outline: none;
	background: none;
}

.search-box a{
	color: white;
}

.container {
	border-bottom: 10px;
	border-color: black;
}

.content-slide {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.imgslide {
	display: block;
}

.container-slide img {
	vertical-align: middle;
	width: 100%;
	height: 400px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	color: rgb(255, 254, 254);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.8);
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: #f25e08;
	color: rgb(0, 0, 0);
}

.text {
	color: #fafafa;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8;
	width: 100%;
	text-align: center;
}

.content-slide .number-slide {
	color: #ffffff;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

@media screen and (max-width: 600px) {
	nav {
		display: block;
		position: relative;
		padding: 15px 20px
	}

	.menu {
		margin-top: 15px;
		display: none;
	}

	.menu.active, .toggle {
		display: block;
	}

	.toggle {
		position: absolute;
		top: 15px;
		right: 20px;
	}

	.content-slide {
		padding: 8px 50px 12px 50px;
	}

	.next {
		right: 50px;
		border-radius: 3px 0 0 3px;
	}
}